@using Common.Entities;
@model IList<Product>
@{
  ViewBag.Title = "Index";
}

<!--<h2>Index</h2>-->


  <div class="product-list">

    <p>
      <a href="/Product/Create">Nuevo Producto</a>
    </p>

    <table>
      <thead>
        <tr>
          <th>Titulo  </th>
          <th>Descripción </th>
          <th>Precio  </th>
          <th>Cantidad Vendidos   </th>
          <th>Calificación Promedio   </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      @foreach (Product item in Model)
      {
        <tr>
          <td> @item.Title    </td>
          <td> @item.Description  </td>
          <td> @item.Price    </td>
          <td> @item.QuantitySold </td>
          <td> @item.AvgStars </td>
        </tr>
      }

    </table>
  </div>
